extends layout
block content
  .starter-template
    h1 Online games with socket.io
    p.lead
      | These games are built with socket.io.
      br
      | You can play these games in real time with your PC browser or smartphone.
      br
      | Connect with your friend by a single link.
