include modal.jade
extends layout
block head
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/othello/board.js')
  script(src='/js/othello/connect.js')
  script(src='/js/othello/game.js')
  link(rel='stylesheet', href='/css/othello.css')
  if (id)
    script join_id='#{id}';

block content
  h1 Othello game
  #game
    button#newGameButton.btn.btn-primary.btn-lg(type='button')
      | New Game
    br
    button#joinGameButton.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#joinGame')
      | Join Game

    +modal('New Game')(id='newGame')
      .modal-body
        form
          label.control-label(for='nickname') Nickname:
          input#nickname.form-control(type='text', name='nickname')
          label.control-label(for='nickname') Choose your color:
          .radio
            label
              input#color_black(type='radio', name='color', value='2', checked='')
              |  Black
          .radio
            label
              input#color_white(type='radio', name='color', value='1')
              | White
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Submit

    +modal('Join Game')(id='joinGame')
      .modal-body
        form
          label.control-label(for='nickname') Nickname:
          input#nickname.form-control(type='text', name='nickname')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Submit

    +modal('Pass')(id='pass')
      .modal-body
        | No more moves.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Pass

    +modal('You Win')(id='win', class='game_over')
      .modal-body
        | You win this game.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Ok

    +modal('You Lose')(id='lose', class='game_over')
      .modal-body
        | You lose this game.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Ok

    +modal('Draw')(id='draw', class='game_over')
      .modal-body
        | This game is draw.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Ok

    #wait_info
      h2 Share this URL with your friend.
      .well
      .qrcode
      
    #game-board
