#main
{
  text-align: center;
}

#game-board > table
{
  font-size: 5vmin;
  margin: 0 auto;
}

#game-board > table th
{
  margin: 0;
  padding: 0.125em 0.25em;
  line-height: 100%;
}

.cell
{
  background: #090;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  width: 10vmin;
  height: 10vmin;
  line-height: 0;
  text-align: center;
}
.cell > div
{
  display: inline-block;
  border-radius: 4vmin;
  margin: 1vmin;
  width: 8vmin;
  height: 8vmin;
  line-height: 8vmin;
}
/*#game-board > table .cell[color=white] > div
{
  background: #fff;
}
#game-board > table .cell[color=black] > div
{
  background: #000;
}*/
